			
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Dashboard
						<small>Control panel</small>
					</h1>
				</section>
				
				<!-- Main content -->
				<section class="my_content" >
					<script type="text/javascript"> 
					
					$(document).ready(function() {
							 prepareCanvas('canvasDiv');
					});
					
					</script>
					
					<div id="canvasDiv">
					</div>
				</section><!-- /.content -->
			</div><!-- /.content-wrapper -->
			<footer class="main-footer">
				<div class="pull-right hidden-xs">
					<b>Version</b> 0.1
				</div>
				<strong>Copyright &copy; 2015-2018 <a href="http://www.datatrend.co.kr/">DataTrend</a>.</strong> All rights reserved.
			</footer>
		</div><!-- ./wrapper -->
