<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Dashboard
			<small>Control panel</small>
			
		</h1>
	</section>
	
	<!-- Main content -->
	<section class="my_content" id='_my_content'>
		<div id="canvasDiv" style="border:1px solid blue;height:600px">
		<input id='text_server1' class="round_button my_pos" type="button" value="Go!" />
		</div>
		
		<script type="text/javascript"> 
			
			$(document).ready(function() {
				//prepareCanvas('canvasDiv');

				Draw_Main('canvasDiv');

			});
			
		</script>
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->

