<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Dashboard
		</h1>
	</section>
	
	<!-- Main content -->
	<section class="my_content" id='_my_content'>
		<div id="canvasDiv" style="border:1px solid blue;height:600px">

        <input id='btn_id_db' class="round_button my_pos" type="button" value="btn_id_db" ><i class="icon-align-left"></i></input>
        <input id='btn_id_app' class="error_border round_button my_pos" type="button" value="btn_id_app" />

        <input id='btn_id_server1' class="round_button my_pos" type="button" value="btn_id_server1" />
        <input id='btn_id_server2' class="round_button my_pos" type="button" value="btn_id_server2" />

        <input id='btn_id_disk1' class="round_button my_pos" type="button" value="btn_id_disk1" />
        <input id='btn_id_disk2' class="round_button my_pos" type="button" value="btn_id_disk2" />

        <input id='btn_id_vip1' class="round_button my_pos" type="button" value="btn_id_vip1" />
        <input id='btn_id_vip2' class="round_button my_pos" type="button" value="btn_id_vip2" />
				<!-- 		

		<a id='asdf' href="#" class="a-btn">
			<span class="a-btn-text">Now</span>
			<span class="a-btn-slide-text">server1</span>
			<span class="a-btn-slide-icon"></span>
		</a>
		
		<a id='asdf' href="#" class="a-btn">
			<span class="a-btn-symbol">Z</span>
			<span class="a-btn-text">Now</span> 
			<span class="a-btn-slide-text">server1</span>
			<span class="a-btn-slide-icon"></span>
		</a>
-->		

		</div>
        <p><span id="status"></span></p>

        <script type="text/javascript">
			
			$(document).ready(function() {
				Draw_Main('canvasDiv');

			});
			
		</script>
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->

