<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Dashboard
			<small>Control panel</small>
			
		</h1>
	</section>
	
	<!-- Main content -->
	<section class="my_content" id='_my_content'>
		<div id="canvasDiv" style="border:1px solid blue;height:600px">

        <input id='btn_db' class="round_button my_pos" type="button" value="btn_db" />
        <input id='btn_app' class="round_button my_pos" type="button" value="btn_app" />

        <input id='btn_server1' class="round_button my_pos" type="button" value="btn_server1" />
        <input id='btn_server2' class="round_button my_pos" type="button" value="btn_server2" />

        <input id='btn_drive1' class="round_button my_pos" type="button" value="btn_drive1" />
        <input id='btn_drive2' class="round_button my_pos" type="button" value="btn_drive2" />

        <input id='btn_vip1' class="round_button my_pos" type="button" value="btn_vip1" />
        <input id='btn_vip2' class="round_button my_pos" type="button" value="btn_vip2" />

		</div>
		
		<script type="text/javascript"> 
			
			$(document).ready(function() {
				//prepareCanvas('canvasDiv');

				Draw_Main('canvasDiv');

			});
			
		</script>
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->

