
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">Type</li>
			<form action="#" method="get" class="sidebar-form">
				<select class="form-control" id='pannel_type'>
					<option>Shared</option>
					<option>Mirroed</option>
				</select>
			</form>
		</ul>
		<ul class="sidebar-menu">
			<li class="header">Server</li>
			<form action="#" method="get" class="sidebar-form">
				<!-- text input -->
				<label >Server 1</label>
				<input id='id_server1' type="text" class="form-control" placeholder="Enter HostName" />
				<label>Server 2</label>
				<input id='id_server2' type="text" class="form-control" placeholder="Enter HostName"/>
				
				<label>Virtual IP 1:</label>
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-laptop"></i>
					</div>
					<input id='id_vip1' type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask value='192.168.1.1'/>
				</div><!-- /.input group -->
				
				<label>Virtual IP 2:</label>
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-laptop"></i>
					</div>
					<input  id='id_vip2' type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask value='192.168.1.2'/>
				</div><!-- /.input group -->
			</form>
		</ul>
		
		<ul class="sidebar-menu">
			<li class="header">Application</li>
			<form action="#" method="get" class="sidebar-form">
				<!-- text input -->
				<label>DB</label>
				<input id='id_db'  type="text" class="form-control" placeholder="Enter IP:Port" />
				<label>App</label>
				<input id='id_app' type="text" class="form-control" placeholder="Enter Exe name"/>
				<!-- text input -->
				<label>Disk 1</label>
				<input id='id_disk1' type="text" class="form-control" placeholder="Path" />
				<label>Disk 2</label>
			</form>
		</ul>
		
	</section>
	<!-- /.sidebar -->
</aside>
